/* element selector */
body { 
    display: block; 
    margin: 8px;
}

/* class selector */
.green-paragraph {
    color: green;
}

/* id selector */
#mainHeading {
    color: red;
}
#locationNames {
    color: red;
}